.header {
    display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  margin: 0 25%;
  width: 50%;
    
}

.footer {
    
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
      }
    
   
    
}

.image {
    width: 200px;
    length: 400px;
    background-color: darkcyan;
}

.img {
    length: 500px;
    width: 300px;
    background-color: cadetblue;
}